@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Open+Sans:ital,wght@0,500;0,700;1,700;1,800&display=swap');

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #192142;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

.title {
  width: 95%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title img {
  width: 4em;
  height: 4em;
  flex-shrink: 0;
}

.title h1 {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.title h1 span {
  font-style: italic;
  font-size: .8em;
}

.fa-facebook {
  color: white;
  background-color: #3b5998;
  border-radius: 100%;
  padding: .5em;
  width: 1em;
  text-align: center;
  margin-right: .5em;
}

.fa-facebook:hover {
  background-color: #3b589880;
}

.fa-linkedin {
  color: white;
  background-color: #0e76a8;
  border-radius: 100%;
  padding: .5em;
  width: 1em;
  text-align: center;
}

.fa-linkedin:hover {
  background-color: #0e76a880;
}

.hamburger {
  background: transparent;
  color: rgba(255, 255, 255, 0.46);
  border: 1px solid rgba(255, 255, 255, 0.46);
  font-size: 1.5em;
}

.hamburger:hover {
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.date-container {
  width: 90%;
  background-color: #ffffff70;
  height: 3em;
  margin: 1em auto;
  margin-top: -.3em;
  text-align: center;
  font-size: 1.3em;
  padding: 0;
}

main {
  font-family: 'Arimo', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.join, .hid {
  display: none;
}

.content {
  width: 95%;
  background-color: #415fda;
  color: white;
  margin: 0 auto;
}

.content h2 {
  text-decoration: underline;
}

.hero {
  position: relative;
  width: 95%;
  background-color: #fff;
  height: min-content;
}

.hero-img {
  width: 100%;
  height: 20em;
  object-fit: cover;
}

.joinButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 10rem;
  height: 3rem;
  background-color: #536fdb;
  border: 0;
  box-shadow: 0 0 15px black;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.534);
}

.joinButton:hover {
  height: 3.2rem;
  width: 10.2rem;
  border: 3px solid white;
  transition: all 200ms ease;
}

.event {
  text-align: center;
  padding-bottom: 1rem;
}

.event h2 {
  text-decoration: underline;
}

.event p {
  width: 90%;
  margin: 1rem auto;
}

.event a {
  color: #fff;
  text-decoration: none;
}

.event a:hover {
  text-decoration: underline;
}

.weather {
  text-align: center;
}

.news {
  text-align: center;
  padding-bottom: 1rem;
}

.news p {
  width: 90%;
  margin: 0 auto;
}

.spotlight {
  width: 95%;
  background-color: #415fda;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  text-align: center;
  color: #fff;
}

.spotlight section {
  width: 95%;
  margin-bottom: 1rem;
  background-color: #5b75e1;
  box-shadow: 0 0 5px black;
}

.spotlight img {
  width: 13rem;
}

.spotlight hr {
  margin: 0 auto;
}

.spotlight-info {
  margin: 0 auto;
  font-size: x-small;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #192142;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding: 1em 0;
  margin-top: 1em;
  margin-bottom: 0;
}

footer * {
  margin: 0;
  padding: 0;
}

footer img {
  width: 6em;
}

footer p {
  font-family: 'Arimo', sans-serif;
  font-weight: 100;
  font-size: .9em;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-family: 'Arimo', sans-serif;
  font-weight: bolder;
}

footer a:hover {
  text-decoration: underline;
}

footer .info {
  font-size: 1em;
}

hr {
  background-color: #ffffff30;
  width: 98%;
  height: 1px;
  border: none;
  margin: 1.3em;
}

.name {
  font-weight: bold;
}

.show {
  display: none;
}

nav {
  width: 100%;
  text-align: center;
}

#hidden ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: .8em;
  width: 100%;
}

#hidden ul li {
  width: 100%;
}

#hidden ul a {
  display: block;
  padding: 1em 0;
  text-decoration: none;
  width: 100%;
  color: #fff;
}

#hidden ul a:hover {
  background-color: #ffffff30;
}

.weather {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 1rem;
}

#city-name {
  font-size: 2.3rem;
  padding: 0;
  margin: 0;
}

.degrees {
  margin: 1rem auto;
}

#degrees {
  font-size: 5rem;
}

.celsius {
  font-size: 2rem;
  height: 100%;
  position: relative;
  bottom: 1ex;
}

#weather-icon {
  width: 5rem;
}

.display #description, .display #weather-icon {
  margin: 0;
}

.joinButtonSection {
  width: 10rem;
  height: 3rem;
  background-color: #536fdb;
  border: 0;
  box-shadow: 0 0 15px black;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.534);
  margin: 0 auto;
}

.joinButtonSection:hover {
  height: 3.2rem;
  width: 10.2rem;
  border: 3px solid white;
  transition: all 200ms ease;
}

.join h2, .join button, .join p {
  margin-bottom: 3rem;
}

.join p {
  width: 80%;
  margin: 0 auto;
}

.eventHidden {
  text-align: center;
  color: #fff;
  display: none;
}

.showEvent {
  display: block;
}

.country {
  background-color: #fca327;
  border-radius: 5px;
  padding: .05rem .5rem;
  color: #000;
}