@media only screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }

  .show {
    display: flex;
  }

  .show ul {
    display: flex;
    flex-direction: row;
  }

  .title img {
    width: 5em;
    height: 5em;
  }

  .date-container {
    font-size: 1em;
  }

  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  main :nth-child(1) {
    order: 4;
    grid-area: 1 / 2 / 3 / 4;
    height: auto;
  }

  main :nth-child(2) {
    order: 1;
    grid-area: 1 / 1 / 2 / 2;
  }

  main :nth-child(3) {
    order: 2;
    grid-area: 2 / 1 / 3 / 2;
  }

  main :nth-child(4) {
    order: 5;
    grid-area: 3 / 2 / 4 / 4;
  }

  main :nth-child(5) {
    order: 6;
    grid-area: 1 / 4 / 4 / 5;
  }

  main :nth-child(6) {
    order: 3;
    display: unset;
    grid-area: 3 / 1 / 4 / 2;
  }

  .hid {
    display: unset;
  }

  .spotlight {
    display: flex;
    flex-direction: column;
    gap: .5em;
  }

  .spotlight div {
    height: 100%;
  }

  .copy {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
}